<a href="https://colab.research.google.com/github/charitha0606/-assignment-python/blob/master/Assignment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.Write a Python program to get the largest & smallest number from a list.

In [9]:
X=[2,1,5,7,8]
print("largest num is",max(X),"smallest num is",min(X))

largest num is 8 smallest num is 1

2.Write a Python program to remove duplicates from a list.

In [10]:
 mylist=[2,5,5,6,6,9,3]
prev=None
newlist=[]
for item in mylist:
  if item!=prev:
        newlist.append(item)
        prev=item
print("The new list:\n")
print(newlist)

The new list:

[2, 5, 6, 9, 3]

3.Write a Python program to check a list is empty or not.

In [21]:
 
def Enquiry(lis1): 
 
    if len(lis1) == 0: 
 
        return 0
 
    else: 
 
        return 1
lis1 = [0,1,2] 
 
if Enquiry(lis1): 
 
    print ("The list is not empty") 
 
else: 
 
    print("Empty List")

The list is not empty

In [22]:
 def Enquiry(lis1): 
 
    if len(lis1) == 0: 
 
        return 0
 
    else: 
 
        return 1
lis1 = [] 
 
if Enquiry(lis1): 
 
    print ("The list is not empty") 
 
else: 
 
    print("Empty List")

Empty List

4.Write a Python program to clone or copy a list.

In [23]:
My_list=[22,33,44,55]
New_list=list(My_list)
print(My_list)
print(New_list)

[22, 33, 44, 55]
[22, 33, 44, 55]

5.Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [76]:
l1=[1,3,5,7,9,10,12]
l1=[x for (i,x) in enumerate(l1)if i not in (0,4,5)] 
print(l1)

[3, 5, 7, 12]

6.Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [92]:
 list = [11, 22, 33, 44, 55]
print("Original list:",list)
for i  in list:
    if(i%2 == 0):
      list.remove(i)
print("list after removing EVEN numbers:",list)

Original list: [11, 22, 33, 44, 55]
list after removing EVEN numbers: [11, 33, 55]

7.Write a Python program to shuffle and print a specified list.

In [97]:
import random
test_list=[3,4,5,6,7]
print("original list is:",test_list)
random.shuffle(test_list)
print("after shuffled list is:",test_list)

original list is: [3, 4, 5, 6, 7]
after shuffled list is: [7, 6, 3, 5, 4]

8.Write a Python program to get the difference between the two lists.

In [122]:
def Diff(li1, li2):
  li_dif = [i for i in li1 + li2 if i not in li1 or i not in li2]
  return li_dif
li1 = [10, 15, 20, 25, 30, 35, 40] 
li2 = [25, 40, 35] 
li3 = Diff(li1, li2) 
print(li3)

[10, 15, 20, 30]