<a href="https://colab.research.google.com/github/charitha0606/-assignment-python/blob/master/Assignment_8_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Write a program that prints the integers from 1 to 100. But for multiples of 
three print "Fizz" instead of the number, and for the multiples of five print 
"Buzz". For numbers which are multiples of both three and five print 
"FizzBuzz".

In [3]:
for i in range(1,101):
    if i%3==0 and i%5==0:
      i="FizzBuzz"
      print(i)
    elif i%3==0:
     i="Fizz"
     print(i)
    elif i%5==0:
     i="Buzz"
     print(i)
    else:
     print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

2.Write a Python program to remove consecutive duplicates from list

In [64]:
mylist=[2,5,5,6,6,9,3]
prev=None
newlist=[]
for item in mylist:
  if item!=prev:
        newlist.append(item)
        prev=item
print("The new list:\n")
print(newlist)

The new list:

[2, 5, 6, 9, 3]

3.Write a python program to find unique element from the list.

In [5]:
l1=[1,1,2,2,2,3,3,3,4,4,5,5]
Mylist=set(l1)
print(list(Mylist))

[1, 2, 3, 4, 5]

4.Write a function that checks whether a number is in a given range (inclusive of
high and low)

In [10]:
def check_range(num,start,stop):
  if num in range(start,stop+1):
     print(num,"number is in a given range")
  else:
     print(num,"number is not in a Given range")

In [15]:
check_range(49,1,48)

49 number is not in a Given range

In [16]:
check_range(49,1,50)

49 number is in a given range

5.Write a Python function that accepts a string and calculates the number of 
upper case letters and lower case letters.
Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [52]:
def char_test(s):
  uppercase,lowercase,special=0,0,0
  for char in s:
    if char.isupper():
        uppercase+=1
    elif char.islower():
        lowercase+=1
    else:
        special+=1
  print("number of uppercase characters=",uppercase)
  print("number of lowercase characters=",lowercase)
  print("number of special characters=",special)

In [53]:
char_test("Hello Mr.Rogers,how are you this fine Tuesday?")

number of uppercase characters= 4
number of lowercase characters= 33
number of special characters= 9