<a href="https://colab.research.google.com/github/charitha0606/-assignment-python/blob/master/Experiment_2_30_09_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.print"hello world"

In [60]:
print("hello world")

hello world

2.Compute arthmetic operations.

In [6]:
a=4
b=5
sum=a+b
sub=a-b
mul=a*b
div=a/b
mod=a%b
print(sum,sub,mul,div,mod)

9 -1 20 0.8 4

3.demostrate the relational operators.

In [15]:
x=6
y=8
print(x>y)

False

In [17]:
x=6
y=8
print(x==y)

False

In [18]:
x=6
y=8
print(x<=y)

True

In [19]:
x=6
y=8
print(x!=y)

True

4.demonstrate the logical operators

In [26]:
 
a =3
b =-3
c =0
if a > 0 or b > 0:
  print("Either of the number is greater than 0") 
else:
  print("No number is greater than 0") 
if b > 0 or c > 0:
  print("Either of the number is greater than 0") 
else:
  print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

In [28]:
a = 10
b = 12
c = 0
if a and b and c: 
  print("All the numbers have boolean value as True") 
else: 
  print("Atleast one number has boolean")

Atleast one number has boolean

In [30]:
a = 10
if not a:
  print("Boolean value of a is True") 
if not (a%3 == 0 or a%5 == 0):
  print("10 is not divisible by either 3 or 5") 
else:
  print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

5.demonstrate the shorthand assignment operators.

In [32]:
x=6
y=7
x+=y
print(x)

13

In [33]:
x=5
y=9
x-=y
print(x)

-4

In [34]:
x=3
y=1
x*=y
print(x)

3

In [35]:
x=2
y=6
x/=y
print(x)

0.3333333333333333

In [36]:
x=5
y=4
x%=y
print(x)

1

In [37]:
x=6
y=9
x=y
print(x)

9

 6.demostrate the increment and decrement operators.

In [40]:
print("INCREMENTED FOR LOOP") 
for i in range(0, 5):
   print(i) 
print("\n DECREMENTED FOR LOOP") 
for i in range(4, -1, -1): 
   print(i)

INCREMENTED FOR LOOP
0
1
2
3
4

 DECREMENTED FOR LOOP
4
3
2
1
0

7.find greatest of two numbers using conditional operators.

In [41]:
 
n1=4
n2=10
mx=n1 if n1>n2 else n2
print("Largest number between " + str(n1) + 
 
                        " and " + str(n2) + 
 
                        " is " + str(mx))

Largest number between 4 and 10 is 10

8.find the greatest of three numbers using conditional operators.

In [46]:
a=3
b=4
c=5
mx=(a if(a>b and b>c)else(b if b>c else c))
print("Largest number between "+str(a)+"and"+str(b)+"and"+str(c)+"is"+str(mx))

Largest number between 3and4and5is5

9.demonstrate the bitwise Operators.

In [52]:
a=6
b=4
print("a&b=",a&b)
print("a|b=",a|b)
print("a^b=",a^b)
print("a<<b=",a<<b)
print("a>>b=",a>>b)
print("~a=",~a)
print("~b=",~b)

a&b= 4
a|b= 6
a^b= 2
a<<b= 96
a>>b= 0
~a= -7
~b= -5

10.compute addition of two numbers.(subtraction, multiplication, division,to find the remainder)

In [59]:
a=5
b=10
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)
print("remainder:",a%b)

addition: 15
subtraction: -5
multiplication: 50
division: 0.5
remainder: 5